.skeleton {
    background: lightgrey;
    margin: 10px 0;
    border-radius: 4px;
    overflow: hidden;
    height: 60px;
}

.skeleton--circle {
    height: 60px;
    width: 60px ;
    border-radius: 30px;
}

.skeleton--pulse::after {
    content: "";
    display: block; /* empty sudo element is display inline, while takes no space */
    position: relative;
    top: 0;
    left: 0;

    width: 20%;
    height: 100%;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 20%,
      rgba(255, 255, 255, 0.5) 60%, /* color transition starts at 60% of its length */ 
      rgba(255, 255, 255, 0)
    );
    animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(500%);
    }
}
