*,
*::before,
*::after {
	padding: 0px;
	margin: 0px;
	box-sizing: inherit; /* box-sizing is not inherit property, make it to inherit from html box-sizing */
}

html {
	box-sizing: border-box;  
}

body {
	font-size: 2rem;
}

.app-modal-root {
	display: none;
}

nav a.active{
	border-bottom: 5px solid #333;
	transition: all ease 0.5s;
}

.home-container {
    display: flex;
    justify-content: center;
}


.about-container {
    display: flex;
    justify-content: center;
}
