.tooltip {
    position: fixed;
    margin: 5px;
    padding: 5px;
    border-radius: 3px;
    background: grey;
}

.tooltip::after {
    position: absolute;
    background: grey;
}

.tooltip--hidden {
    visibility: hidden;
}